<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bitoffer.seckill.mapper.QuotaMapper">
    <resultMap id="quotaMap" type="cn.bitoffer.seckill.model.Quota">
        <id column="id" property="ID"/>
        <result column="num" property="num"/>
        <result column="goods_id" property="goodsID"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <sql id="Vo_Column_List">
        `id`,
        `num`,
        `goods_id`,
        `create_time`,
        `modify_time`
    </sql>
    <insert id="save" useGeneratedKeys="true" keyProperty="quota.ID">
        insert into t_quota(`num`,`goods_id`)
        values (#{quota.num},#{quota.goodsID});
    </insert>
    <select id="getGoodsQuota"  resultMap="quotaMap">
        select * from t_quota where goods_id= #{goodsID} limit 1;
    </select>
</mapper>
